
.swiper-container
    width: 100vw
    height: 100vh
    .swiper-wrapper
        .swiper-slide
            .slider_content
                position: relative
                height: 100%
                display: flex
                flex-direction: column
                justify-content: center
                z-index: 2
                padding-left: 100px
                max-width: 635px
                overflow: hidden
                span
                    font-weight: bold
                    text-transform: uppercase
                    font-size: 2rem
                    margin-bottom: 20px
                    pointer-events: none
                    opacity: .3
                    transform: translateX(900px)
                span.slide_animation
                    transform: translateX(0px)
                    opacity: 0.3
                    transition: all 1550ms
                h1
                    font-size: 6rem
                    margin-bottom: 2rem
                    font-weight: 400
                    color: #222222
                    pointer-events: none
                    transform: translateX(600px)
                    opacity: 0
                h1.slide_animation
                    transform: translateX(0px)
                    opacity: 1
                    transition: all 1000ms
                .btn
                    max-width: 225px
                    padding: 15px 50px
                    width: 100%
                    border-radius: 200px
                    background: #ef233c
                    cursor: pointer
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .price,.text
                        color: white
                        font-weight: 600
                    .price
                        font-weight: bold
                        font-size: 2rem
                    .text
                        font-size: 1.5rem
                    &:hover
                        filter: brightness(1.2)
            img
                height: 100%
                position: absolute
                bottom: 0
                right: 10%
                pointer-events: none
                display: block
                max-width: 100%
                object-fit: cover
                transform: translateX(1000px)
                opacity: 0
            img.slide_animation
                transform: translateX(0)
                opacity: 1
                transition: all 1350ms
            .page_count
                position: absolute
                bottom: 30px
                right: 100px
                font-weight: 600
                font-size: 3rem
                color: #f94144
                &::after
                    content: " / 4"
                    font-size: 2.2rem
                    color: white
        .dark_salmon
            background: #e9967a
        .light_salmon
            background: #FFA07A
        .light_sea_green
            background: #20B2AA
        .dark_cyan
            background: #008B8B
            
.swiper-pagination
    text-align: unset
    margin-bottom: 20px
    margin-left: 100px
    display: flex
    align-items: center
    .swiper-pagination-bullet
        background: white
        opacity: .8
    .swiper-pagination-bullet-active
        border: 2px solid red
        padding: 5px
        background: transparent

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 10px

@media screen and (max-width: 768px)
    .swiper-pagination
        margin-left: 2%
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .slider_content
                    padding-left: 10px
                    span
                        font-size: 1.4rem
                    h1
                        font-size: 2.2rem
                    .buy_now_button
                        padding: 20px 40px
                img
                    right: -1.5%
                #first_image
                    right: -30%
                .page_count
                    right: 10px

